.Testimonals-header {
  text-align: center;
  margin-bottom: 3rem !important;
}
.Testimonals-section {
  padding-block: 6rem;
}
.Testimonals-quote {
  background-color: var(--container-color);
  padding: 2.5rem 2rem 3rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  position: relative;
}
.Testimonal-icon {
  position: absolute;
  bottom: -1.75rem;
  left: 2.5rem;
  color: var(--container-color);
  font-size: var(--big-font-size);
}
.Testimonals-content {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.Testimonals-Image-Wrapper {
  border: 2px dashed var(--first-color);
  padding: 0.25rem;
  width: 80px;
  height: 80px;
  margin-inline: 1.25rem;
}
.Testimonals-Image-Wrapper,
.Testimonal-img {
  border-radius: 50%;
}
.Testimonals-Title {
  font-size: var(--larger-font-size);
}
.Testimonals-rating {
  display: flex;
  column-gap: 0.25rem;
  margin-top: 0.25rem;
  color: var(--first-color);
}
